
.m-doc {
  width: 1920px;
  height: 1080px;
  color: #fff;
  img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }
  header {
    display: flex;
    height: 40px;
    .userinfo {
      width: 400px;
    }
    .opt {
      width: 400px;
      text-align: right;
    }
    .topic {
      flex: 1;
    }
  }
  .tac {
    .title{
      padding: 20px 0px;
      line-height: 30px;
      font-size: 24px;
      text-align: center;
    }
  }
  .main {
    padding: 40px 40px;
    display: flex;
    height: 700px;
    .slide {
      width: 300px;
      .time {
        height: 100px;
      }
      .week {
        line-height: 40px;
        padding-left: 40px;
        font-size: 24px;
      }
      .hour {
        line-height: 50px;
        padding-left: 50px;
        font-size: 30px;
      }
    }
    .tac1,.tac2{
      margin-top: 20px;
      width: 100%;
      height: 290px;
    }
    .map {
      position: relative;
      width: 1240px;
      padding: 60px 20px 0px 20px;
      .tj{
        position: absolute;
        top:80px;
        left: 50px;
      }
      .total{
        margin: 5px 0px;
        padding: 0px 10px;
        box-sizing: border-box;
        width: 216px;
        height: 50px;
        line-height: 50px;
        display: flex;
        justify-content: space-between;
        background: url("./../../res/total.png");
        span{
          line-height: 50px;
          color: #fff;
          font-size: 18px;
          b{
            color: #ffff00;
          }
        }
      }
    }
  }
  .statistic{
    display: flex;
    justify-content: space-between;
    .tac{
      width: 50%;
      height: 210px;
    }
  }
}